body {
	background-color: #EEF0F1;
	margin: 0;
	padding: 0;

}

header h1 {
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 10px;
	margin-bottom: 0;
}

body header {
	background-color: #EEF0F1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00004d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}